@using EcommerceProject2.Models;
@model IEnumerable<Products>
@{
    ViewBag.Title = "Index";
}

<html>

<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>


<body>

    <h1>Product Table</h1>

    <table>
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>

        </tr>
        @foreach (var item in (IEnumerable<Products>)TempData["products"])
        {
            <tr>

                <td>@item.Product_name</td>
                <td>@item.price</td>
                <td>@item.Product_Desc</td>
                <td>@item.price $</td>
                <td>@item.Category.Category_name </td>
                <td>@item.image </td>

                <td> @Html.ActionLink("Update", "Products", "Products", new { id = item.Product_id }) </td>
                <td> <input type="submit" value="Del" class="btn btn-danger" /> </td>
            </tr>
        }
    </table>

</body>
</html>

