@model EcommerceProject2.Models.Products

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: #FFDA83;
        }

        button {
            background-color: #4CAF50;
            width: 100%;
            color: orange;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        form {
            border: 3px solid #000203;
        }

        input[type=text], input[type=password] {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid black;
            box-sizing: border-box;
        }

        button:hover {
            opacity: 0.7;
        }


        .tbl {
            margin-left: 300px;
        }


        .container {
            padding: 25px;
            background-color: white;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("Products", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <form>
            <div style="margin-bottom:295px">
                <h2 style="text-align:center; font-size:35px;"> <b>Add Products</b></h2>
                <br />
                <table class="tbl">
                    <tr>
                        <th>
                            <label style="font-size:18px">Category: </label>
                        </th>
                        <td>
                            @Html.DropDownListFor(x => x.Category.Category_id, (List<SelectListItem>)ViewBag.CategoryList, "--Select--", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label style="font-size:18px">Product Name: </label>
                        </th>
                        <td>
                            @Html.TextBoxFor(x => x.Product_name, new { @class = "form-control", @placeholder = "enter product name" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label style="font-size:18px">Price: </label>
                        </th>
                        <td>
                            @Html.TextBoxFor(x => x.price, new { @class = "form-control", @placeholder = "enter product price" })
                        </td>
                    </tr>
                    <tr>
                        <th style="width:40%">
                            <label style="font-size:17px"> Product Description: </label>
                        </th>
                        <td>
                            @Html.TextBoxFor(x => x.Product_Desc, new { @class = "form-control", @placeholder = "enter product description" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label style="font-size:18px">Stock: </label>
                        </th>
                        <td>
                            @Html.DropDownListFor(x => x.Inventory_Table.Inventory_id, (List<SelectListItem>)ViewBag.Stock, "--Select--", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label style="font-size:18px">Product image: </label>
                        </th>
                        <td>
                            
                                <input type="file" id="img" name="img" class="input" value="upload image" />
                            

                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <br />
                            <input type="submit" value="Add" class="btn btn-warning" />
                        </td>
                        
                    </tr>
                </table>
            </div>
        </form>
    }

</body>
</html>



